<footer class="bg-gradient-to-r from-purple-800 to-indigo-900 text-white py-6 mt-auto">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col md:flex-row md:items-center md:justify-between space-y-6 md:space-y-0">
    
    <div class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-6">
      <span class="text-sm">© 2025 MASA</span>
      <div class="flex items-center space-x-2">
        <span class="text-sm">Français</span>
      </div>
    </div>

    <!-- Icônes réseaux sociaux -->
    <div class="flex items-center space-x-4">
      <a href="#" class="hover:text-gray-200 transition">
        <img src="/img/facebook.png" alt="Facebook" class="h-5 w-5">
      </a>
      <a href="#" class="hover:text-gray-200 transition">
        <img src="/img/twitter.png" alt="Twitter" class="h-5 w-5">
      </a>
      <a href="#" class="hover:text-gray-200 transition">
        <img src="/img/instagram.png" alt="Instagram" class="h-5 w-5">
      </a>
      <a href="#" class="hover:text-gray-200 transition">
        <img src="/img/youtube.png" alt="YouTube" class="h-5 w-5">
      </a>
    </div>

    <div class="flex items-center space-x-4">
      <a href="#">
        <img src="/img/appstore.png" alt="App Store" class="h-8">
      </a>
      <a href="#">
        <img src="/img/OIP.png" alt="Google Play" class="h-8">
      </a>
    </div>

    <div>
      <a href="#" class="text-sm hover:text-gray-200 transition">
        Conditions & Confidentialité
      </a>
    </div>
    
  </div>
</footer>
